<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=applicationName%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Example page using vue 3, .net 7 and vite" />
    <link rel="icon" type="image/x-icon" href="/wwwroot/favicon.ico">
</head>
<body>
    <div id="app"></div>
    <script type="module" src="/Features/main.ts"></script>
    <% if(isDev){ %>
    <script src="<%=apiUrl%>/_framework/aspnetcore-browser-refresh.js"></script>
    <% } %>
</body>
</html>